*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(211, 240, 230);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    max-width: 100%;
    display: block;
}

.box{
    background-color: white;
    max-width: 21rem;
    border-radius: 6px;
    transition: all 200ms ease;
}

.img{
    display: flex;
    width: 280px;
    height: 250px;
}
.suret img{
    display: flex;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

h5{
    display: flex;
}
.hands{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hands .name{
    margin-right: 3px;
    margin: 1px;
}

.lips{
    padding: 30px;
}